# Copy to .env and adjust values
CENTREON_VERSION=24.10
ALMALINUX_VERSION=8

# MariaDB
MARIADB_ROOT_PASSWORD=changeme-root
MARIADB_DATABASE=centreon
CENTREON_DB_USER=centreon
CENTREON_DB_PASS=changeme-centreon
CENTREON_STORAGE_DB_NAME=centreon_storage

# Centreon
CENTREON_ADMIN_USER=admin
CENTREON_ADMIN_PASS=changeme-admin
CENTREON_INSTANCE_NAME=Central

# Hosts in the pod always reach each other on localhost
CENTREON_DB_HOST=127.0.0.1
CENTREON_DB_PORT=3306
GORGONE_HTTP_PORT=8085
BROKER_BBDO_PORT=5669
BROKER_RRD_PORT=5670
